<%= error_messages_for :timetrack %>

<div id='new-timetrack'>
	<% form_for :timetrack, 
			:url => member_timetracks_path(:member_id => @member.id), 
			:html => { :id => 'timetrack-form' } do |f| -%>


	<p>
	<label>Op</label><%= f.date_select :date %> <label>spendeerde ik</label><%= f.text_field :hours_spent, :size => 10 %><label>uur</label>
	<br/>
	<label>aan de taak</label><%= f.text_field :description, :size => 25 %>
	<%= submit_tag 'registreer dit' %>
	</p>
	<% end -%>
</div>